[BACKEND]
API_PORT=8000

[DATABASE]
API_DB__USER=postgres
API_DB__PASSWORD=password
API_DB__DATABASE=rahma
API_DB__HOST=db
API_DB__PORT=5432

[S3]
API_S3__ENDPOINT="https://s3.geometria.ru/"
API_S3__ACCESS_KEY="access"
API_S3__SECRET_KEY="secret"
API_S3__SECURE=True
API_S3__BUCKET="rahma-test"

[SMTP]
API_SMTP__HOST=smtp.yandex.com
API_SMTP__PORT=465
API_SMTP__USERNAME=mail@yandex.ru
API_SMTP__PASSWORD=password
API_SMTP__SENDER_EMAIL=mail@yandex.ru
API_SMTP__USE_TLS=1
API_SMTP__START_TLS=0

[JWT]
API_JWT__SECRET=CHANGE_ME_JWT_SECRET
API_JWT__LIFETIME_SECONDS=900

[REFRESH_TOKEN]
API_REFRESH_TOKEN__LIFETIME_SECONDS=2592000

[USER_TOKEN]
API_USER_TOKEN__SECRET=CHANGE_ME_USER_TOKEN_SECRET
API_USER_TOKEN__LIFETIME_SECONDS=900

[AI]
API_AI__API_KEY=your-deepseek-api-key
API_AI__MODEL=deepseek-chat